<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CourseFlix</a>

  <div  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" style="color:white" [routerLink]="[ '/courses' ]">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="[ '/add' ]">Add</a>
      </li>
      <li>
        <a class="nav-link"  [routerLink]="[ '/two' ]">Two</a>
      </li>
    </ul>
    </div>
</nav>

