<h1>Model Driven</h1>
<div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <form [formGroup]="modelForm">
                    
                    <div class="form-group">
                        <label for="courseName">Course Name:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            name="courseName"
                            formControlName="courseName"
                            id="courseName" 
                            aria-describedby="courseName" 
                            placeholder="Enter course name">
                    </div>
                    <div class="alert alert-danger" *ngIf="coursename.touched && coursename.invalid">
                            <span>{{coursename.invalid}}</span>
                            <span>Invalid Course Name</span>
                    </div>
                    <div class="form-group">
                        <label for="courseDesc">Description:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="courseDesc" 
                            formControlName="courseDesc"
                            name="courseDesc"
                            aria-describedby="courseDesc" 
                            placeholder="description of the course">
                        </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input 
                            type="number" 
                            class="form-control" 
                            id="price" 
                            formControlName="coursePrice"
                            name="coursePrice"
                            placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input 
                            type="date" 
                            class="form-control" 
                            id="startDate" 
                            formControlName="startDate"
                            name="startDate"
                            placeholder="Enter date in dd-mm-yy format">
                    </div>
                    <div class="form-group form-check">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            name="offer"
                            formControlName="offer"
                            id="offer">
                            
                        <label class="form-check-label" for="offer">Offer</label>
                    </div>
                    
                    <button 
                        type="submit" 
                        class="btn btn-primary">Submit</button>
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Clear</button>
                </form>
            </div>
        </div>
    </div>
    