<div class="card" style="width: 18rem;">
        <div class="card-body" >
          <h5 class="card-title">{{course.name}}</h5>
          <p class="card-text">{{course.desc}}</p>
          <p class="card-text" 
             [style.backgroundColor]="course.price > 15000 ? 'green':'tomato'">Rs {{course.price}}</p>
           <span>{{course.students}}</span>  
           
          <button class="btn" 
              [class.btn-warning]="course.offer"
              [class.btn-success]="!course.offer"
              [class.btn-danger]="course.students > 14"
              [disabled]="course.students > 19"
             (click)="onSelect(course)">{{course.students > 19 ?'No More Registration':'Register' }}</button>
        </div>
      </div>