<div class="row">
    <div class="col-md-2">
            <ul class="list-group">
                    <li class="list-group-item"><a [routerLink]="['one']" 
                        routerLinkActive="router-link-active">One</a></li>
                    <li class="list-group-item"><a [routerLink]="['two']" 
                        routerLinkActive="router-link-active">Two</a></li>
                    <li class="list-group-item"><a [routerLink]="['custom-directive']" 
                        routerLinkActive="router-link-active">Custom Directive</a></li>
                  </ul>
    </div>
    <div class="col-md-10">
            <router-outlet></router-outlet>
    </div>
</div>

  