
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
            <li class="list-group-item">
            <a 
                    [routerLink]="['template-driven']" 
                    routerLinkActive="router-link-active">Template-Driven
                </a>
            </li>
                <li class="list-group-item">
                <a 
                        [routerLink]="['model-driven']" 
                        routerLinkActive="router-link-active">Model-Driven
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


